
@{
    ViewBag.Title = "Создание заявки";
}

<h2>Заявка успешно отправлена!</h2>
<div class="btn btn-info">@Html.ActionLink("Вернуться к созданию заявки", "../Home/Index")</div>
<div class="btn btn-info">@Html.ActionLink("Просмотреть существующие заявки", "../Request/Index")</div>