@model Application.Models.Item

@{
    ViewBag.Title = "Index";
}

<h2>Создание заявки</h2>
@using(@Html.BeginForm())
{
    <h3>Позиция:</h3>
    <div class="form-group">
        <label>Список:</label>
         @Html.DropDownList("idSubject", ViewBag.SelItems as SelectList);
    </div>
    <div class="form-group">
        <label>Количество:</label>

        @Html.TextBoxFor(x => x.Quantity)
    </div>
    <div class="form-group">
        <label>Комментарий:</label>
        @Html.TextBoxFor(x => x.Description);
    </div>
    <div class="text-center">
            <input class="btn btn-success" type="submit" value="Оставить заявку" />
    </div>
}

